body {
    background-image:url(http://cdn.pcwallart.com/images/moss-on-wood-wallpaper-3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

h1 {
	font-weight:bold;
	font-family:sans-serif;
	font-size:20px;
	color:orange;
}
.logo {
	font-size:40px;
	font-color:white;
	font-weight:bold;

}

li:hover 
{
	background-color:green;

}

.well_p 
{
	position:relative;
	right:50px;
	float:left;
	width:400px;
	height:800px;
}

.fm8 img 
{
	width:50px;
	height:50px;
}

.well span {
	font-family:serif;
	font-size:24px;
	font-weight:bold;
	color:blue;
}

.panel span {
	font-family:serif;
	font-size:34px;
	font-weight:bold;
	color:orange;
}


.well span:hover {
	color:green;
}




